*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 7.5vmin;
}

#game-board {
  /* --grid-size: 4;
  --cell-size: 20vmin;
  --cell-gap: 2vmin; */
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #ccc;
  gap: 2vmin;
  border-radius: 1vmin;
  padding: 2vmin;
  position: relative;
}

#lose-message {
  background-color: #333;
  color: #ddd;
  padding: 3vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: none;
  z-index: 10;
}
#lose-message #restart {
  cursor: pointer;
  font-size: 4vmin;
  padding: 2vmin;
}

#overlay {
  position: absolute;
  z-index: 5;
  opacity: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.cell {
  background-color: #888;
  border-radius: 1vmin;
}

.tile {
  --x: 1;
  --y: 1;
  --background-lightness: 20%;
  --text-lightness: 80%;
  font-size: 12vmin;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  /* background-color: red; */
  border-radius: 1vmin;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  background-color: hsl(350, 50%, var(--background-lightness));
  color: hsl(200, 25%, var(--text-lightness));
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}
